/*=======================superfish=========================*/
footer nav{margin-left: 0px;}
nav a{
	font-size: 17px;
}
nav{
	display:inline-block;
	margin: 15px 0 10px 9px;
	float: left;
}
.menu_first_txt{display: none;}
.sf-menu{display:block;}
.sf-menu ul {position:absolute; top:-999px; display:none; z-index:999;}
.sf-menu a {display:block;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:999;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;z-index:999}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;z-index:999}
ul.sf-menu>li{
  font:17px/21px "Arial", Arial, sans-serif;
  float:left; 
  position:relative;
  padding: 0;
  text-transform: uppercase;
  margin-right: 17px;
  letter-spacing: 1px;
}
ul.sf-menu>li.first{margin-right: 23px;}
ul.sf-menu>li:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 2px;
	height: 26px;
	right: -9px;
	top: -3px;
	background: url(../images/vline.png) no-repeat 0 0;
}
ul.sf-menu>li.first:before {right: -13px;}
ul.sf-menu>li.last-li:before {background: none;}
  ul.sf-menu>li>a>.sf-sub-indicator{
	  display:block;
	  position:absolute;
	  width:5px;
	  height:6px;
	  background: url(../images/indicator.png) 0 0 no-repeat;
	  top:23px;
	  left:45%;
	  }
.last-li{padding-right:0;}
ul.sf-menu>li:first-child{border-left:none;}
ul.sf-menu>li>a{
	display:block;
	color:#555a5f;
	overflow: hidden;
	height: 25px;
}
ul.sf-menu>li>a img{
	margin-top: -2px;
	-webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

ul.sf-menu>li>a strong{
	width: 11px;
	height: 0px;
	position: absolute;
	/*background: url(../images/menu_hover_sign.png) 0 0 no-repeat;*/
	display: inline-block;
	left: 50%;
	margin-left: -5px;
	top: -7px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover{color:#fff;}
ul.sf-menu>li.current>a img, ul.sf-menu>li.sfHover>a img, ul.sf-menu>li>a:hover img{margin-top: -42px;}
ul.sf-menu>li.current>a strong, ul.sf-menu>li.sfHover>a strong, ul.sf-menu>li>a:hover strong{height: 0px;}
/*submenu1*/
.sf-menu>li>ul{
	left:-19px;
	top:42px;
	width:175px;
	z-index:99;
	background: #17191a; 
	padding:23px 0 15px 0;
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	letter-spacing: 0px;
}
.sf-menu>li>ul>li {
	font-size: 12px; 
	font-weight:normal;
	position:relative;
	padding:0; 
	padding-bottom: 11px;
}
.sf-menu>li>ul>li:first-child{}

.sf-menu>li>ul>li>a {
	display: block;
	color:#fff;
	font:12px/12px Arial, sans-serif;
	padding: 6px 0;
	text-align: left;
	text-indent: 27px;
}
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {color:#000; background: #fff; text-decoration: none;}

/*submenu2*/
.sf-menu li li ul {
	 left: 177px !important;
	 top:-23px !important;
	 display:block;
	 width:175px;
	z-index:99;
	background: #17191a; 
	padding:23px 0 15px 0;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	letter-spacing: 0px;
}
.sf-menu>li>ul>li>a>span {
	background: url(../images/subindicator.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	width: 4px;
	height: 7px;
	top: 9px;
	right: 8px;
}
.sf-menu>li>ul>li.sfHover>a>span {
	background-position: right 0;
}
.sf-menu li li li {
	float:none;
	font-size: 12px;
	padding:0; 
	padding-bottom: 11px;
	}
					
.sf-menu li li li a {
	display:block;
	color:#fff !important;
	font:12px/12px Arial, sans-serif;
	padding: 6px 0;
	text-indent: 27px;
	background: none !important
	}
.sf-menu li li li:hover {}
.sf-menu li li li a:hover {color:#000 !important; background: #fff !important; text-decoration: none;}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {

}

@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		margin: 0 21px !important;	
		
	}
  nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#98628b;
		padding:0px 0px 0px;
		width: 100%;
		margin: 0 auto;
		margin-top: 20px !important;
		
	
	}
		/*nav:before{
			content:'Menu:';
			text-align: left;
			display:block;
			margin-bottom:5px;
			color: #474747;
			
		}*/
	.sf-menu{display:none;float: none;}
	footer nav{display:none;float: none;}
	header nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#101010;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #f1242a;
		margin-bottom: 15px;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
