/*css*/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/camera.css";
@import "../css/touchTouch.css";
@import "../css/form.css";
@import "../css/accordion.css";

@import url(//fonts.googleapis.com/css?family=Passion+One:700);

html, body {}

a[href^="tel:"] {
	color: inherit;
	text-decoration:none;
}
* {
	-webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper, .wrapper-extra, .extra-wrap{
	position: relative;
	width: 100%;
	overflow:hidden; 
}
.wrapper-after:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.dis-block{display: block;}
.dis-inblock{display: inline-block;}

.txt_left{text-align: left;}
.txt_right{text-align: right;}
.txt_cntr{text-align: center;}
.txt_ital{font-style: italic;}
.txt_line_through{text-decoration: line-through;}


.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{margin-left:0 !important; margin-right:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

.marRight1{margin-right: 33px;}
.marRight2{margin-right: 55px;}

.mar1{margin:0 6px;}
.marTop1{margin-top: 22px;}

.marBot1{margin-bottom: 20px;}
.marBot2{margin-bottom: 10px;}
.marBot3{margin-bottom: 10px;}
.marBot4{margin-bottom: 11px;}

.col_1, .col_2, .col_3, .col_4{
	float: left;
	margin-right: 20px;
	width: 130px;
}
.col_1.mar0, .mar0{margin-right: 0;}
.col_2{width: 180px;}
.col_3{width: 164px;}
.col_4{width: 210px;}

.border_botom{border-bottom: 1px solid #f2f2f2; margin-bottom: 25px; padding-bottom: 7px;}

.fs12{font-size: 12px;}

.box{overflow: hidden;}
.bold{font-weight: bold;}

.color1{color: #f1242a;}
.color2{color: #00f1fa;}
.color3{color: #9fc603;}
.color4{color: #fab600;}
.color5{color: #fff;}


/* Global properties ======================================================== */
html, body { padding:0; margin:0; height:100%;}

body {
	font:12px/17px Arial, Helvetica, sans-serif ;
	/* color:#797d80; */ /* og dark gray color */
	color: #abaeb0;
	background: #0c1013;
	background: url(../images/ai_bg12.webp) 50% 0% #0c1013  no-repeat;
	background-size: 100%;
	min-width:300px;
}
#back-top {
  position: fixed;
  left: 51%;
  margin-left: 500px;
  bottom: 90px;
  z-index: 1000;
  display: none;
  width: 34px;
  height: 22px;
  background: url("../images/up-arrow.png") 50% 50% no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#back-top:hover {
  background: #555 url("../images/up-arrow.png") 50% 50% no-repeat;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.main{
	width:100%;
	height: auto;
	padding:00 0 0; 
	/*background: #fafafa;*/
}
.div-content{
	width:100%;
	margin:0 auto;
	padding-bottom:0;
}
/***********************************************************************/
/*===============================>H-logo-properties=========================*/
h1{
	display: inline-block;
	float:left;
	margin: 0;
	margin-left: -3px;
}
h1 img{max-width: inherit;}
h1 a{display:inline-block;}
h2{
	font:bold 22px/22px 'Arial', Arial, sans-serif;
	color:#fff;
	text-indent: 21px;
	#background: url("../images/hline_color.png") 0 bottom repeat-x;
	padding: 15px 0 12px;
	text-transform: uppercase;
}
.h2_0{
color: transparent;
background: linear-gradient(to right, RoyalBlue, DeepSkyBlue, LimeGreen);
-webkit-background-clip: text;
}
.header_h2_0 {
font-size: 50px;
text-indent: 0px;
}
.header_h2_1 {
font-size: 24px;
text-transform: none;
text-indent: 0px;
}
h3{
	font:600 24px/30px 'Arial', Arial, sans-serif;
	color:#243c3e; 
	text-transform:uppercase;
	text-shadow:1px 1px #dadada;
	padding-bottom: 18px;
}

.hline2{
	padding-bottom: 21px;
	background: url("../images/hline.png") 0 bottom repeat-x;
	margin-bottom: 19px;
}
.hline2.v2{
	padding-bottom: 12px;
	margin-bottom: 16px;
}
.hline2.v3{
	padding-bottom: 10px;
	margin-bottom: 12px;
}

.hline3{
	padding-top: 17px;
	background: url("../images/footer_hline.png") 0 top repeat-x;
	margin-top: 10px;
}
.txt1{
	font: bold 12px/17px Arial, sans-serif;
	color:#f0f0f0; 
	text-transform: uppercase;
}
.txt1.v2{margin-top: 2px;margin-bottom: 6px;display: inline-block;}
.txt_date{
	font:bold 15px/20px 'Arial', Arial, sans-serif;
	text-transform: uppercase;
}
.testim_txt{
	color: #fff;
	display: block;
	text-align: right;
}

p{margin-bottom: 0px;}
.p_text_header{
color: limegreen;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 0 20px 0;
}
.p_text_body{
    font-size: 18px;
margin-bottom:20px;
}
.p_text_body_indent{
    text-indent: 50px;
}
img{max-width:100%; height:auto; margin-bottom: 0px;}
.img1{
	float: left;
	margin-right: 13px;
	border-radius: 2px;
}
.img2{
	margin-bottom: 8px;
	border-radius: 2px;
	margin-top: 19px;
}

a {
	text-decoration:none; 
	cursor:pointer; 
	color: #fff;
}
a:hover {
	text-decoration:none;
	color: #fab600;
}
a{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
a.link1{font-weight: bold;}

a.link2{
	text-transform: none;
	color: #636465;
}
a.link2:hover{color: #fff;}
/************Header************/
header{
		background: #252729; /* for old browsers */
    background: -moz-linear-gradient(top, #252729, #151617); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#252729), color-stop(100%,#151617));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #252729, #151617);
    #background: -o-linear-gradient(top, #252729, #151617); /* Opera 11.10+ */
    #background: -ms-linear-gradient(top, #252729, #151617); /* IE10 */
    #background: linear-gradient(top, #252729, #151617); /* CSS3 */ 
    
	margin-bottom: 29px;
}
.bot_line{
	width: 100%;
	height: 1px;
	display: inline-block;
	background: #f2f2f2;
	margin-top: 2px;	
	margin-bottom: 42px;	
}
	
/************Content***********/
.box-1{
	width: 100%;
	width: 442px;
	position: relative;
	border-radius: 7px;
	/*background: #202827;*/
	#background: url("../images/search_section_bg.png");
	
	padding: 9px 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	margin-top: 19px;
}
.box-1 p{
	float: left;
	margin-right: 1px;
	font: bold 22px/26px 'Arial', Arial, sans-serif;
	text-transform: uppercase;
	color:#feb900; 

	margin-top: 9px;
	margin-bottom: 0;
}

.gradient_1{
	background: #161a1d; /* for old browsers */
    background: -moz-linear-gradient(top, #252729, #151617); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#252729), color-stop(100%,#151617));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top,#252729, #151617 );
    #background: -o-linear-gradient(top, #252729, #151617); /* Opera 11.10+ */
    #background: -ms-linear-gradient(top, #252729, #151617); /* IE10 */
    #background: linear-gradient(top, #252729, #151617); /* CSS3 */ 
    border-radius: 7px;
}

.box-2{
	width: 100%;
	position: relative;
	border-radius: 7px 7px 0 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	border-bottom: 7px solid #242724;
	margin-top: 17px;
	margin-bottom: 21px;
}
.box-2.v2{margin-bottom: 0;}

.box-3, .box-4{
	width: 100%;
	position: relative;
	border-radius: 7px;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	background: #1f2123;
	margin-top: 19px;
	overflow: hidden;
}
.box-3_pad{padding: 19px 20px 30px;}
.box-3_pad_2{padding: 11px 20px 30px;}
.box-3_pad_3{padding: 0px 20px 30px;}

.box-4{
	background: #1f2123;
	padding: 10px 21px 23px 20px;
	margin-top: 19px;
}
/*-------- start search section --------*/
#search input {
    border: none;
    color: #fff;
    display: block;
    margin: 0;
	background:#242628;
	border: 1px solid #2e2e2e;
    outline: medium none;
    padding: 12px 4px 11px 16px;
    width: 180px;
    position: relative;
    font:12px/16px Arial, Helvetica, sans-serif ;
    margin: 0px;
    float: left;
    height: 15px;
    border-radius: 3px 0 0 3px;
    /*padding: 6px 4px 6px 16px;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 30px;*/
}
#search {
    position: relative;
    float: right;
}
#search a {
    background: url("../images/search_icon.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    position: relative;
    width: 40px;
    margin-left: -1px;
    float: left;
}
#search a:hover {
	background-position:0 -40px;
}
/*-------- end search section --------*/

/* ============================= lists ====================== */
.header_list {
  margin: 0;
}
.header_list li {
  display: block;
  float: left;
  margin-right: 0;
  background: url("../images/vline.png") right 0 repeat-y;
}
.header_list li a {
	position: relative;
  display: inline-block;
  color: #fff;
	font: bold 30px/67px "Arial", Arial, sans-serif;
	padding: 6px 18px 0;
  text-decoration: none;
}

.header_list_0 {
  margin: 0;
}
.header_list_0 li {
  display: block;
  float: left;
  margin-right: 0;
  background: url("../images/vline.png") right 0 repeat-y;
}
.header_list_0 li a {
	position: relative;
  display: inline-block;
  color: #fff;
	font: bold 18px/57px "Arial", Arial, sans-serif;
	padding: 6px 18px 0;
  text-decoration: none;
}
.header_list_0_selected{
background: -webkit-linear-gradient(top, #252729, dimgray)!important;
}

.over_line{
	position: absolute;
	display: inline-block;
	content: '';
	width: 100%;
	height: 7px;
	left: 0;
	bottom: -7px;
	background: #ba090e;
	display: none;
	z-index: 10;
}
.header_list li a:hover {color: #ba090e;}
.header_list li a:hover .over_line{display: block;}

.listWithMarker {
  margin: 0;
  margin-top: 5px;
  margin-bottom: -48px;
}
.listWithMarker li {
  display: block;
  margin-bottom: 13px;
  padding-bottom: 17px;
	background: url("../images/hline.png") 0 bottom repeat-x;
  margin-bottom: 18px;
}
.listWithMarker li.last {background: none;}
.listWithMarker li a {
  /*display: inline-block;*/
  color: #fff;
  text-transform: uppercase;
  font:bold 12px/16px Arial, sans-serif;
  text-decoration: none;
  padding-left: 19px;
  background: url(../images/list_marker.png) 0 4px no-repeat;
}
.listWithMarker li a:hover {
  color: #f1242a;
}
/* ============================= end lists ====================== */


.more_btn {
	display: inline-block;
	text-decoration:none;
	color:#4f4f4f;
	text-align: center;
	padding:10px 21px;
	font:12px/17px Arial, sans-serif;
	border: 1px solid #ebebeb;
	background: #ebeced; /* for old browsers */
    margin-top: 7px;
    margin-bottom: 20px;
}
.more_btn:hover, .more_btn .active a{
	color:#fff;
	background: #47d4f9; /* for old browsers */
    text-decoration:none;
}

.more_btn2 {
	display: inline-block;
	text-decoration:none;
	text-transform: uppercase;
	color:#848484;
	text-align: center;
	background:#f0f0f0;
	padding:0px 15px;
	font:11px/26px Arial, sans-serif;
	border: 1px solid #e0e0e0;
	border-radius: 20px; 
    margin-bottom: 20px;
    margin-top: 3px;
}
.more_btn2:hover {
	color:#fff;
	background:#2bc2fa;
	border: 1px solid #2bc2fa;
	text-decoration:none;
}
figure{display: block;}
.address figure.img_inner {
	display: block;
	height: auto;
	line-height: 0;
	padding-bottom: 0px;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 8px;
	border-radius: 3px;
}
.address figure iframe {
	width: 100%;
	max-width:336px;
	max-width:100%;
	height: 260px;
	border-radius: 3px;
}
address{
	font-style: normal;
	display: inline-block;
	color: #797d80;
}
address dl dt{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}
address dd span{
	position: relative;
	display: inline-block;
	width: 81px;
}


/*********************************start magnifier2*************************************/
.magnifier2 {
    position:relative;
    /*display:block;*/
    display: inline-block;
}
.zoom{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/magnify.png") 50% 50% no-repeat;
	top: 0;
	left: 0; 
	-webkit-transition: all 0.6s ease;
  	-moz-transition: all 0.6s ease;
  	-o-transition: all 0.6s ease;
  	transition: all 0.6s ease;

}
a.magnifier2:hover .zoom{
	opacity: 1
}
a.magnifier2 .zoom{
	opacity: 0;
}
/*********************************end magnifier2*************************************/
/************Footer************/
footer{ 
	width: 100%;
	display: block;
	/*margin-top: 30px;*/
	color: #555a5f;
}
footer .hline3 a{color: #555a5f;}
footer .hline3 a:hover{color: #fff;}
.main-footer{
	padding-bottom: 21px;
}

/************start social icons************/
.social{
	overflow:hidden;
	margin-top: 11px;
	margin-right: 19px;
	float: right;
}
.social a{
	display:block; 
	float:left;
	width:30px;
	height: 28px;
	overflow:hidden;
	margin-left: 3px;
}
.social a:first-child{
	margin: 0 0 0 0;
}
.social a:hover img{
	margin-top:-30px;
}	
/************end social icons************/



/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
body {
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 1) 100%), url(../images/ai_bg12.webp);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
background-color: black;
    background-attachment: fixed;
}
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
body {
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 1) 100%), url(../images/ai_bg12.webp);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
background-color: black;
    background-attachment: fixed;
}
}
@media only screen and (min-width: 425px) and (max-width: 767px)  {
body {
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 1) 100%), url(../images/ai_bg12.webp);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
background-color: black;
    background-attachment: fixed;
}
}

